<section class="gallery-block cards-gallery">
  <div class="container">
      <div class="heading">
        <h2>Cards Gallery</h2>
      </div>
      <div class="row">
          <div class="col-md-6 col-lg-4">
              <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="../../assets/img-gallery/image1.jpg">
                  <img src="../../assets/img-gallery/image1.jpg" alt="Card Image" class="card-img-top">
                </a>
                  <div class="card-body">
                      <h6><a href="#">Lorem Ipsum</a></h6>
                      <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="card border-0 transform-on-hover">
        <a class="lightbox" href="../../assets/img-gallery/image2.jpg">
                  <img src="../../assets/img-gallery/image2.jpg" alt="Card Image" class="card-img-top">
                </a>
                  <div class="card-body">
                      <h6><a href="#">Lorem Ipsum</a></h6>
                      <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="../../assets/img-gallery/image3.jpg">
                  <img src="../../assets/img-gallery/image3.jpg" alt="Card Image" class="card-img-top">
                </a>
                  <div class="card-body">
                      <h6><a href="#">Lorem Ipsum</a></h6>
                      <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.cards-gallery', { animation: 'slideIn'});
</script>

<div class="container2">
  <div class="card-container">
    <div class="header">
      <a href="#">
        <img src="../../assets/logo.png" alt="">
      </a>
      <h2>InnovaSoft</h2>
      <h4>Servicios de desarrollo web profesionales!</h4>
    </div>
    <div class="descripcion">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Aliquid culpa iste magni aperiam consectetur blanditiis
        perspiciatis obcaecati quibusdam sed maxime repellendus
        quo deleniti provident veritatis, molestiae vitae dolorum!
        Nostrum, delectus?</p>
        <div class="social">
          <a href="#"><i class="fa fa-envelope"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
  </div>

</div>

