<section class="gallery-block cards-gallery">
  <div class="container">
      <div class="heading">
        <h2>Cards Gallery</h2>
      </div>
      <div class="row">

          <div class="col-md-6 col-lg-4" *ngFor="let photo of photos">
              <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="../../assets/img-gallery/image1.jpg">
                  <img src="{{photo.imageURL}}" alt="Card Image" class="card-img-top">
                </a>
                  <div class="card-body">
                      <h6><a href="#">{{photo.description}}</a></h6>
                      <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.cards-gallery', { animation: 'slideIn'});
</script>
